$main-color1: #fd7e14;
$main-color2: rgba(255, 255, 255, 0.8);
$text-color-novels: #AAAAAA;

.Novel {
    border: 2px solid $main-color1;
    //box-shadow: 0 0 3px 3px #545557;
    font-size: 20px;
    color: $text-color-novels;
    margin: 20px 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    transition: box-shadow .15s ease-in;
    &:hover {
        box-shadow: 0 0 5px 4px #545557;
    }
    .Title {
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
    }
}

.Image {
    max-width: 100%;
    box-sizing: border-box;
}

.Name {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: $main-color2;
    margin-top: -10px;
    transition: color .22s ease-in-out;
    &:hover {
        color: $main-color1;
        cursor: pointer;
    }
}

.Author {
    font-size: .8em;
    transition: color .22s ease-in-out;
    &:hover {
        color: $main-color1;
        cursor: pointer;
    }
}

.Description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    font-size: 18px;
}
