$main-color1: #fd7e14;
$main-color2: #ffffff;

.Novel {
    border: 2px solid $main-color1;
    //box-shadow: 0 0 3px 3px #545557;
    font-size: 20px;
    color: $main-color2;
    margin: 20px 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    &:hover {
        box-shadow: 0 0 5px 5px #545557;
    }
    .Title {
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
    }
}

.Image {
    max-width: 100%;
    box-sizing: border-box;
}

.Name {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: -10px;
    &:hover {
        color: $main-color1;
        cursor: pointer;
    }
}

.Author {
    font-size: .8em;
    &:hover {
        color: $main-color1;
        cursor: pointer;
    }
}

