$background-color-black1: #212529;

.RatingSideBar {
    background: $background-color-black1;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    //border: 1px solid #000000;
    border: 1px solid #000000;
}
