$background-color-black1: rgba(159, 160, 162, 0.07);

.MenuToggle {
    cursor: pointer;
    border-radius: 10px;
    transition: background .17s ease-in-out;
    &:hover {
        background: $background-color-black1;
    }
}

.MenuToggleFlex {
    display: flex;
    justify-content: flex-end;
}