 $font-color-dark-theme: #AAAAAA;
 $main-color-black-theme: #fd7e14;
 $white-color: rgba(255, 255, 255, 0.8);
 $black-color: rgba(0, 0, 0, 0.87);
 $background-color-white-hover: rgba(150, 150, 150, 0.34);


 .colMain {
     padding: 50px;
     display: flex;
     flex-flow: row wrap;
     color: $font-color-dark-theme;
     font-size: 17px;
 }

 .MainInfo {
     display: flex;
     flex-flow: column wrap;
 }

 
 .WhiteThemeInfo {
     div {
         color: $black-color;
     }
 }

 .Description {
     display: flex;
     font-size: 18px;
     flex-flow: wrap;
     max-width: 100vh;
 }
 
 .Name {
     font-size: 2em;
     margin-bottom: 5px;
     color: $main-color-black-theme;
 }
 
 .Image {
     margin: 0 15px 15px 0;
     box-sizing: border-box;
     display: flex;
     flex-flow: column nowrap;
     img {
         margin-bottom: 5px;
     }
 }
 
 .Author {
     font-size: 17px;
     margin-bottom: 5px;
     color: $white-color;
 }
 
 .Feedback {
     margin-bottom: 10px;
 }
 