$background-color-black1: #212529;
$white-color: rgba(255, 255, 255, 0.9);
$black-color: rgba(0, 0, 0, 0.8);
$border-color-grey: rgb(74, 87, 94);
$main-color1: #fd7e14;

.NewsSidebar {
    margin: 30px 45px 40px -20px;
    border-radius: 10px;
    border: 1px solid $border-color-grey;
    div:nth-child(-n+6) {
        border-top: 1px solid $border-color-grey;
    }
}

.BlackThemeNewsSidebar {
    color: $white-color;
    a {
        color: $white-color;
        text-decoration: none;
    }
    a:visited {
        color: $white-color;
    }
    a:active {
        color: $white-color;
    }
}

.WhiteThemeNewsSidebar {
    color: $black-color;
    a {
        color: $black-color;
        text-decoration: none;
    }
    a:visited {
        color: $black-color;
    }
    a:active {
        color: $black-color;
    }
}

.Title {
    text-align: center;
    padding: 1em;
    margin: auto;
}