$background-color-black1: #212529;
$main-color2: rgba(255, 255, 255, 0.9);
$border-color-grey: rgb(74, 87, 94);

.NewsSidebar {
    margin: 30px 25px 40px 0;
    color: $main-color2;
    border-radius: 10px;
    border: 1px solid $border-color-grey;
    div:nth-child(-n+6) {
        border-top: 1px solid $border-color-grey;
    }
}

.Title {
    text-align: center;
    padding: 1em;
    margin: auto;
}