$main-color1: #fd7e14;
$color-white: rgba(255, 255, 255, 0.8);
$main-color-gold: #ffc107;
$background-color-black1: #212529;
$border-color-grey: rgb(74, 87, 94);
$color-black: rgba(0, 0, 0, 0.87);

.Title {
    display: flex;
    flex-flow: column wrap;
    padding-left: 15px;
    width: 170px;
}

.itemRatingSideBar {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    margin-bottom: 15px;
    transition: all .22s ease-in-out;
}

.BlackTheme {
    color: $color-white;
    border: 1px solid $border-color-grey;
    &:hover {
        box-shadow: 0 0 5px 2px #545557;
    }
}

.WhiteTheme {
    color: $color-black;
    box-shadow: 2px 2px 8px 2px rgb(0 0 0 / 20%);
    &:hover {
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.49);
    }
}

.Image {
    margin: 10px;
    border-radius: 50%;
    max-width: 100%;
    box-sizing: border-box;
}

.Name, .Author, .Rating {
    transition: color .22s ease-in-out;
}

.RatingNumber {
    font-size: 2em;
    padding: 10px;
}

.BlackThemeRatingNumber {
    color: $color-white;
}

.WhiteThemeRatingNumber {
    color: rgba(0, 0, 0, 0.69);
}

.Gold {
    color: $main-color-gold;
}

.Silver {
    color: #a4a4a4;
}

.Bronze {
    color: $main-color1;
}

