$main-color-black-theme: #fd7e14;
$color-white: rgba(255, 255, 255, 0.8);
$color-black: rgb(0, 0, 0, 0.8);
$color-hover-white-theme: rgba(150, 150, 150, 0.34);

.tabContent {
    margin-top: 3.4em;
    font-size: 18px;
    margin-bottom: 3em;
}

.BlackThemeTab {
    color: #AAAAAA;
}

.WhiteThemeTab {
    color: $color-black;
}

.navItem {
    margin-top: 10px;
    transition: background .1s ease-in-out;
    border-radius: 0.25rem;
}

.BlackTheme {
    a {
        cursor: pointer;
        color: $color-white;
        text-decoration: none;
    }
    a:visited {
        color: $color-white;
    }
    a:active {
        color: $color-white;
    }
    a:hover {
        color: $main-color-black-theme;
        background: rgb(0, 0, 0, 0.1);
    }
}

.WhiteTheme {
    a {
        cursor: pointer;
        color: $color-black;
        text-decoration: none;
    }
    a:visited {
        color: $color-black;
    }
    a:active {
        color: $color-black;
    }
    a:hover {
        color: $color-black;
        background: $color-hover-white-theme;
    }
}