$main-color: #fd7e14;
$black-color: black;
$background-color-black-hover: rgba(159, 160, 162, 0.07);
$background-color-white-hover: rgba(159, 160, 162, 0.18);

.NewsSidebarItem {
    margin: auto;
    font-size: 17px;
    padding: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .05s ease-in-out;
}

.BlackTheme {
    &:hover {
        color: $main-color;
        background: $background-color-black-hover;
    }
}

.WhiteTheme {
    &:hover {
        color: $black-color;
        background: $background-color-white-hover;
    }
}