$header-color-black: #1c1f23;

.Header {
    height: 60px;
    width: auto;
    background: $header-color-black;
    display: flex;
    align-items: center;
}

@media (max-width: 1223px) {
    .Header {
        justify-content: space-between;
    }
}