$header-color-black: #1c1f23;

.Header {
    height: 60px;
    display: flex;
    align-items: center;
}

.BlackTheme {
    background: $header-color-black;
    box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.WhiteTheme {
    background: white;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
}