$black-theme-color: #AAAAAA;
$white-theme-color: rgb(0, 0, 0, .9);

.Container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 840px;
    word-break: break-word;
    font-size: 18px;
    white-space: pre-wrap;
    font-family: Helvetica, serif;
}

.BlackTheme {
    color: $black-theme-color;
    
}

.WhiteTheme {
    color: $white-theme-color;
}