.Container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 840px;
    word-break: break-word;
    font-size: 18px;
    color: #AAAAAA;
    white-space: pre-wrap;
    font-family: Helvetica, serif;
}