.Layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

.BlackTheme {
    background: rgba(52, 58, 64, 0.98);
}

.WhiteTheme {
    background: white;
}