$main-color-black: #fd7e14;
$footer-color-black: #1c1f23;
$footer-color-hover-black: rgba(159, 160, 162, 0.07);
$footer-color-hover-white: rgba(150, 150, 150, 0.34);
$color-white: rgba(255, 255, 255, 0.8);
$color-black: rgba(0, 0, 0, 0.88);


.Footer {
    width: auto;
    padding: 20px;
}

footer {
    margin-top: auto;
    
}

ul {
    list-style-type: none;
    border-bottom: 1px solid rgba(73, 73, 73, 0.7);
    padding: 10px;
    span {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }
    li {
        cursor: pointer;
        transition: all .12s ease-in-out;
    }
}

div.row div {
    display: flex;
    align-items: center;
}

.BlackThemeFooterContainer {
    background: $footer-color-black;
    color: $color-white;
    a {
        color: $color-white;
        text-decoration: none;
    }
    a:visited {
        color: $color-white;
    }
    a:active {
        color: $color-white;
    }
    li:hover {
        border-radius: 5px;
        color: $main-color-black;
        padding: 5px;
        background: $footer-color-hover-black;
    }
    ul {
        span {
            color: $color-white;
        }
    }
}

.WhiteThemeFooterContainer {
    background: white;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    a {
        color: $color-black;
        text-decoration: none;
    }
    a:visited {
        color: $color-black;
    }
    a:active {
        color: $color-black;
    }
    li:hover {
        border-radius: 5px;
        padding: 5px;
        background: $footer-color-hover-white;
    }
    span {
        color: $color-black;
    }
}
