$background-color-hover: #545557;

.DropdownSearchListItem {
    display: flex;
    color: white;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: background .22s ease-in-out;
    &:hover {
        background: $background-color-hover;
        cursor: pointer;
    }
}

img {
    border-radius: 10px;
}

.Name {
    margin-left: 7px;
    display: flex;
    flex-wrap: wrap;
}

