$main-color1: #fd7e14;


.Navigation {
    a {
        font-size: 18px;
        color: white;
        text-decoration: none;
    }
    a:visited {
        color: white;
    }
    a:active {
        color: white;
    }
    a:hover {
        color: $main-color1;
    }
}

nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    a {
        margin-right: 60px;
    }
}