$main-color1: #fd7e14;
$background-color-black1: rgba(159, 160, 162, 0.07);

.Navigation {
    a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: all .33s ease-in-out;
    }
    a:visited {
        color: white;
    }
    a:active {
        color: white;
    }
    a:hover {
        color: $main-color1;
        background: $background-color-black1;
        border-radius: 10px;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        margin: 0 30px 0 30px;
    }
}