$scrollbar-bg-color: #1c1f23;
$scrollbar-thumb-color: #565555;
$scrollbar-width: 8px;
$scrollbar-border-radius: $scrollbar-width / 4;

.DropdownSearchList::-webkit-scrollbar {
    width: $scrollbar-width;
}

.DropdownSearchList::-webkit-scrollbar-track {
    background: $scrollbar-bg-color;
    border-radius: $scrollbar-border-radius;
}
.DropdownSearchList::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 16px;
}

.DropdownSearchList {
    background: #1c1f23;
    height: 200px;
    display: flex;
    width: 400px;
    flex-direction: column;
    overflow: auto;
    padding: 2px 10px 10px 10px;
}

.SearchList { order: 2}

.Title {
    font-size: 18px;
    color: #cbc9c9;
    order: 1;
}