$color-black: rgba(0, 0, 0, 0.87);
$color-white: white;
$black-theme-color: #fd7e14;
$background-color-black: rgba(159, 160, 162, 0.07);
$background-color-white: rgba(150, 150, 150, 0.34);

.ThemeIcon {
    transition: all .33s ease-in-out;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    cursor: pointer;
}

.BlackTheme {
    color: $color-white;
    &:hover {
        color: $black-theme-color;
        background: $background-color-black;
    }
}

.WhiteTheme {
    color: $color-black;
    &:hover {
        background: $background-color-white;
    }
}