$main-dark-background-color: #1c1f23;
$main-gray-text-color: rgb(108 117 125);
$white-color: white;
$black-color: rgb(0, 0, 0, .8);

@mixin color($color, $bgColor) {
    color: $color;
    background: $bgColor;
}

.FilterSearchSidebar {
    max-width: 300px;
    max-height: 331px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
}

.BlackTheme {
    background: $main-dark-background-color;
    .Label, .SelectInput {
        @include color($main-gray-text-color, $main-dark-background-color);
    }
    .FilterSearchTitle {
        color: $white-color;
        margin-top: 5px;
    }
}

.WhiteTheme {
    background: white;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    .Label, .SelectInput {
        @include color($black-color, $white-color);
    }
    .FilterSearchTitle {
        color: $black-color;
        margin-top: 5px;
    }
}
