@import "~bootstrap/scss/bootstrap";

:root {
  --scrollbarBgColor: rgb(52, 58, 64, 0.1);
  --scrollbarThumbColor: #565555;
  --scrollbarWidth: 10px;
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
  border-radius: var(--scrollbarBorderRadius);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
  border-radius: 16px;
}
