$white-color: rgba(255, 255, 255, 0.8);
$black-color: rgba(0, 0, 0, .8);
$background-color-black-theme: #1c1f23;


.Authorization {
    position: relative;
    display: flex;
    justify-content: center;
    //align-items: center;
    //width: 100%;
    //height: 100vh;
}

.AuthContainer {
    margin: 100px auto;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

.BlackTheme {
    background: $background-color-black-theme;
    border: 1px solid black;
    h1 {
        color: $white-color;
        align-items: center;
        margin-top: 20px;
    }
}

.WhiteTheme {
    background: $white-color;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    h1 {
        color: $black-color;
        align-items: center;
        margin-top: 20px;
    }
}