.Logo {
    font-size: 2em;
    font-style: italic;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span {
        margin-left: 5px;
    }
    a:visited {
        color: white;
    }
    a:active {
        color: white;
    }
}

.BlackTheme {
    color: white;
}

.WhiteTheme {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
}

a {
    text-decoration: none;
}
